name: Continuous Deployment

# Ensures that only one workflow per branch will run at a time.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

env:
  DOMAIN: dotjs-to-react.alev.dev

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout default branch
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Format code
        run: pnpm format

  test-unit:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout default branch
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test code
        run: pnpm test:unit

  test-integration:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout default branch
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Build app
        run: pnpm build

      - name: Test integration
        run: pnpm test:integration

      - name: Upload reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [format, test-unit, test-integration]

    steps:
      - name: Checkout default branch
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: latest
          run_install: false

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
          cname: ${{ env.DOMAIN }}
